@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
body {
    background-image: linear-gradient(50deg, rgba(146, 146, 146, 0.02) 0%, rgba(146, 146, 146, 0.02) 25%,rgba(82, 82, 82, 0.02) 25%, rgba(82, 82, 82, 0.02) 50%,rgba(217, 217, 217, 0.02) 50%, rgba(217, 217, 217, 0.02) 75%,rgba(41, 41, 41, 0.02) 75%, rgba(41, 41, 41, 0.02) 100%),linear-gradient(252deg, rgba(126, 126, 126, 0.01) 0%, rgba(126, 126, 126, 0.01) 25%,rgba(117, 117, 117, 0.01) 25%, rgba(117, 117, 117, 0.01) 50%,rgba(219, 219, 219, 0.01) 50%, rgba(219, 219, 219, 0.01) 75%,rgba(41, 41, 41, 0.01) 75%, rgba(41, 41, 41, 0.01) 100%),linear-gradient(272deg, rgba(166, 166, 166, 0.01) 0%, rgba(166, 166, 166, 0.01) 20%,rgba(187, 187, 187, 0.01) 20%, rgba(187, 187, 187, 0.01) 40%,rgba(238, 238, 238, 0.01) 40%, rgba(238, 238, 238, 0.01) 60%,rgba(204, 204, 204, 0.01) 60%, rgba(204, 204, 204, 0.01) 80%,rgba(5, 5, 5, 0.01) 80%, rgba(5, 5, 5, 0.01) 100%),linear-gradient(86deg, rgba(143, 143, 143, 0.02) 0%, rgba(143, 143, 143, 0.02) 12.5%,rgba(36, 36, 36, 0.02) 12.5%, rgba(36, 36, 36, 0.02) 25%,rgba(23, 23, 23, 0.02) 25%, rgba(23, 23, 23, 0.02) 37.5%,rgba(223, 223, 223, 0.02) 37.5%, rgba(223, 223, 223, 0.02) 50%,rgba(101, 101, 101, 0.02) 50%, rgba(101, 101, 101, 0.02) 62.5%,rgba(94, 94, 94, 0.02) 62.5%, rgba(94, 94, 94, 0.02) 75%,rgba(148, 148, 148, 0.02) 75%, rgba(148, 148, 148, 0.02) 87.5%,rgba(107, 107, 107, 0.02) 87.5%, rgba(107, 107, 107, 0.02) 100%),linear-gradient(25deg, rgba(2, 2, 2, 0.02) 0%, rgba(2, 2, 2, 0.02) 16.667%,rgba(51, 51, 51, 0.02) 16.667%, rgba(51, 51, 51, 0.02) 33.334%,rgba(26, 26, 26, 0.02) 33.334%, rgba(26, 26, 26, 0.02) 50.001000000000005%,rgba(238, 238, 238, 0.02) 50.001%, rgba(238, 238, 238, 0.02) 66.668%,rgba(128, 128, 128, 0.02) 66.668%, rgba(128, 128, 128, 0.02) 83.33500000000001%,rgba(21, 21, 21, 0.02) 83.335%, rgba(21, 21, 21, 0.02) 100.002%),linear-gradient(325deg, rgba(95, 95, 95, 0.03) 0%, rgba(95, 95, 95, 0.03) 14.286%,rgba(68, 68, 68, 0.03) 14.286%, rgba(68, 68, 68, 0.03) 28.572%,rgba(194, 194, 194, 0.03) 28.572%, rgba(194, 194, 194, 0.03) 42.858%,rgba(51, 51, 51, 0.03) 42.858%, rgba(51, 51, 51, 0.03) 57.144%,rgba(110, 110, 110, 0.03) 57.144%, rgba(110, 110, 110, 0.03) 71.42999999999999%,rgba(64, 64, 64, 0.03) 71.43%, rgba(64, 64, 64, 0.03) 85.71600000000001%,rgba(31, 31, 31, 0.03) 85.716%, rgba(31, 31, 31, 0.03) 100.002%),linear-gradient(90deg, hsl(80,0%,14%),hsl(80,0%,14%));
    /* background-color: #222831; */
    overflow-x: hidden;
    color:#EEEEEE;
    font-family: "Rubik", sans-serif;
}

.progress-bar {
    background: #ff4163;
    height: 5px;
    width: 0%;
    position: fixed;
    top: 0;
    left:0;
    right:0;
    z-index: 1;
}

body::-webkit-scrollbar {
    width: 12px;               
  }
  
  body::-webkit-scrollbar-track {
    background: #222831;        
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: rgb(255, 225, 0);   
    border-radius: 20px;       
    border: 3px solid #222831;   
  }

  #scrollToTopBtn {
    display: none;
    position: fixed;
    bottom: 15px;
    right: 10px;
    z-index: 99;
    font-size: 16px;
    border: none;
    outline: none;
    background-color: #000000;
    cursor: pointer;
    padding: 12px 12px;
    border-radius: 50%;
  }
  
  #scrollToTopBtn:hover {
    bottom: 20px;
  }  

  #email a{
    color: #76ABAE; 
    font-weight: 500;
    }
    #email a:hover {
        color: #e2cb00;
    }

p,
span,
li {
    color: #EEEEEE;
    font-size: 1em;
}

a {
    text-decoration: none;
    font-weight: 500;
}

li {
    line-height: 1.9em;
}


#container--main {
    max-width: 700px;
    margin: 0 auto;
    padding: 1em 1em 0;
}

.section--page {
    padding-top: 1em;
    padding-bottom: 1em;
}

.section--page-nopaddin-btm {
    padding-top: 1em;
}

#wrapper--hero {
    display: flex;
    align-items: center;
    gap: 4em;
    
}

#user-name {
    font-size: 48px;
    line-height: 1em;
}

#profile-pic {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    transition: 0.3s ease all;
}

#profile-pic:hover {
    cursor: pointer;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    transform: translateY(-5px);
    width:350px;
    height: 350px;
}

#socials--list {
    display: flex;
    column-gap: 1em;
    flex-wrap: wrap;
}

#socials--list a {
    font-weight: 300;
    color:#EEEEEE;
    font-size: 0.9em;
    transition: 0.3s;
}

#socials--list a:hover {
    color: #76ABAE;
}

#qualifications--list {
    list-style: none;
}

#wrapper--techstack__items {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    font-size: 0.9em;
}

.card--techstack {
    border: 1px solid #EEEEEE;
    border-radius: 5px;
    padding: 0.5em 1em;
    align-items: center;
    display: flex;
    gap: 0.5em;
}

.card--project {
    padding-bottom: 2.5em;
}

.card--project a {
    color: #EEEEEE;
    transition: 0.3s;
}

.card--project a:hover {
    color: #76ABAE;
}

.project-page {
    padding: 0 40px;
}

.split {
    display: flex;
    gap: 30px;
}

.split__content span a {
    font-weight: 900;
    font-size: 18px;
}

.split__content p ,li {
    margin-top: 5px;
    margin-bottom: 3px;
    color:#899495
}

.split__content ul {
    margin-top: 5px;
    margin-bottom: 3px;
    color:#cebe61;
}

.split__content--sticky {
    position: sticky;
    top: 200px;
}

.project-img img {
    width: 776px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    margin-bottom: 10px;
}

.project-img img:hover {
    box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.5);
    transform: translateY(-5px);
}

.split__content #livedemo a {
    color: #76ABAE;
}

.mid-section {
    position: relative;
    text-align: center;
    padding: 20px;
  }
  
  .line {
    position: absolute;
    left: 0;
    right: 0;
    height: 2px;
    background-color: rgb(98, 255, 0);
  }
  
  .line:first-child {
    top: 0;
  }
  
  .line:last-child {
    bottom: 0;
  }
  
  .content {
    position: relative;
    z-index: 1; 
  }

  .handcode {
    left:25%;
    position: relative;
    width: 50%;
  }
  
  .image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .handcode:hover .image {
    cursor: pointer;
    opacity: 0.1;
  }
  
  .handcode:hover .middle {
    cursor: pointer;
    opacity: 1;
  }
  
  .text {
    color: rgb(255, 255, 255);
    font-size: 12px;
    font-weight:bold;
    /* max-width: 100%;  */
    /* overflow: auto; */
  }

@media(max-width:600px) {

    #socials--list {
        row-gap: 1em;
    }

    .section--page {
        padding-top: 1em;
        padding-bottom: 1em;
    }

    #wrapper--hero {
        display: flex;
        align-items: center;
        gap: 1em;
    }

    #profile-pic {
        width: 200px;
        height: 200px;
    }

    #wrapper--hero {
        flex-direction: column;
    }

    .project-page {
        padding: 0 20px;
    }

    .split {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .split.flex-col-reverse {
        flex-direction: column-reverse;
    }

    .project-img img {
        width: 300px;
    }
}

@media (min-width: 601px) and (max-width:767px) {
    #socials--list {
        row-gap: 1em;
    }

    .split {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .split.flex-col-reverse {
        flex-direction: column-reverse;
    }

    .project-img img {
        width: 550px;
    }
}